In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yellowknife,CA,2022-05-22 22:56:56,62.4560,-114.3525,37.92,65,100,9.22
1,1,Carnarvon,AU,2022-05-22 22:59:55,-24.8667,113.6333,69.60,58,32,14.72
2,2,Cape Town,ZA,2022-05-22 22:57:02,-33.9258,18.4232,62.38,86,0,4.00
3,3,Guerrero Negro,MX,2022-05-22 22:59:55,27.9769,-114.0611,67.23,58,0,17.47
4,4,Moengo,SR,2022-05-22 22:59:56,5.6167,-54.4000,73.04,98,100,2.39

In [3]:
# Check that columns are integers or floats
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

# Create Max Temp Heatmap

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Center map and add zoom level
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create % Humidity Heatmap

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create % Cloudiness Heatmap

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create Wind Speed Heatmap

In [14]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Get Vacation Criteria

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
17,17,Kalmunai,LK,2022-05-22 23:00:02,7.4167,81.8167,79.59,75,26,4.61
22,22,Kavaratti,IN,2022-05-22 23:00:09,10.5669,72.6420,82.67,81,97,18.32
23,23,Avarua,CK,2022-05-22 23:00:09,-21.2078,-159.7750,79.57,78,15,15.66
24,24,Kapaa,US,2022-05-22 23:00:11,22.0752,-159.3190,81.48,75,53,5.01
28,28,Vaini,TO,2022-05-22 23:00:16,-21.2000,-175.2000,77.14,84,33,15.75
30,30,Bilma,NE,2022-05-22 23:00:17,18.6853,12.9164,85.73,11,72,5.03
41,41,Georgetown,MY,2022-05-22 22:56:17,5.4112,100.3354,80.53,93,20,2.30
44,44,Lompoc,US,2022-05-22 23:00:25,34.6391,-120.4579,75.34,73,100,21.99
52,52,Cockburn Town,TC,2022-05-22 22:59:23,21.4612,-71.1419,82.36,69,40,17.27
53,53,Itoman,JP,2022-05-22 23:01:29,26.1247,127.6694,75.22,78,100,11.50

In [18]:
# Check if there are any null values
preferred_cities_df.count()

City_ID       153
City          153
Country       153
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

# Map Vacation Criteria

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
17       Kalmunai      LK     79.59   7.4167   81.8167
22      Kavaratti      IN     82.67  10.5669   72.6420
23         Avarua      CK     79.57 -21.2078 -159.7750
24          Kapaa      US     81.48  22.0752 -159.3190
28          Vaini      TO     77.14 -21.2000 -175.2000
30          Bilma      NE     85.73  18.6853   12.9164
41     Georgetown      MY     80.53   5.4112  100.3354
44         Lompoc      US     75.34  34.6391 -120.4579
52  Cockburn Town      TC     82.36  21.4612  -71.1419
53         Itoman      JP     75.22  26.1247  127.6694

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
# Check hotel dataframe
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
17,Kalmunai,LK,79.59,7.4167,81.8167,VS Villa
22,Kavaratti,IN,82.67,10.5669,72.6420,Hotels in Lakshadweep Islands
23,Avarua,CK,79.57,-21.2078,-159.7750,Paradise Inn
24,Kapaa,US,81.48,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
28,Vaini,TO,77.14,-21.2000,-175.2000,Keleti Beach Resort
30,Bilma,NE,85.73,18.6853,12.9164,Expeditions Ténére voyages
41,Georgetown,MY,80.53,5.4112,100.3354,Cititel Penang
44,Lompoc,US,75.34,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
52,Cockburn Town,TC,82.36,21.4612,-71.1419,Osprey Beach Hotel
53,Itoman,JP,75.22,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))